@model IEnumerable<Post>

@{
    ViewBag.Title = "Blog Website";
    ViewBag.Description = "This blog has everything";
    ViewBag.Keywords = "blog, programming, travel, photography";
}

<h2>Home Page!</h2>

<div>
    <img src="~/images/static/default.jpg" alt="images" width="200" height="200" />
    <ul>
        @foreach (var post in Model)
        {
            @if (!(post.Image is null))
            {
                var imagePath = $"/Image/{post.Image}";

                <img src="@imagePath" />
            }
            <li>
                <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">@post.Title</a>
            </li>
        }
    </ul>
</div>